# Identificação da Aplicação
VITE_APP_TITLE="Taliberti"

# URL base da API backend
VITE_API_BASE_URL="https://api.exemplo.com/v1"

# Modo Mock: 'true' para usar simulação no frontend, 'false' para chamar API real
VITE_USE_MOCK_API="true"
